/* Colour theme:
 * Dark grey:	#333
 * Light grey:	#ccc
 * Hot Pink:	#D33682
 * Green:		#0c6
 */

html {}

/******** Typography ********/
@font-face {
    font-family: 'TenbyFiveLight';
    src: url('tenby-five-light-webfont.eot');
    src: url('tenby-five-light-webfont.eot?iefix') format('eot'),
         url('tenby-five-light-webfont.woff') format('woff'),
         url('tenby-five-light-webfont.ttf') format('truetype'),
         url('tenby-five-light-webfont.svg#webfontolmfszaw') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "Lucida Sans Unicode",Arial, Helvetica, sans-serif;
	color: #ccc;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "TenbyFiveLight", Helvetica, verdana, arial, sans-serif;
	word-spacing: 0.1em;
	letter-spacing: 0.1em;
}

h1 a {
	font-weight: normal;
	font-size: 3em;
	color: #0c6;
	text-decoration: none;
}

h1 a:hover {
	color: #ccc;
}

h2 {
	font-weight: normal;
	font-size: 2em;
	color: #0c6;
	padding-bottom: 0.6em;
}

h3 {
	font-weight: normal;
	font-size: 1.5em;
	color: #D33682;
	padding-bottom: 0.6em;
	padding-top: 0.3em;
}

h3 a {
	font-weight: normal;
	color: #D33682;
	padding-bottom: 0.6em;
	padding-top: 0.3em;
	text-decoration: none;
}

h3 a:visited {
	color: #D33682;
}

h3 a:hover {
	color: #ccc;
	text-decoration: underline;
}

h4 {
	font-weight: bold;
	font-size: 1.2em;
	color: #D33682;
	padding-bottom: 0.4em;
	padding-top: 0.6em;
}

#header {
	font-family: "Trebuchet MS", helvetica, verdana, arial, sans-serif;
}

p {
	padding: 0.5em 0;
	line-height: 1.5em;
}

p a {
	text-decoration: none;
	color: #D33682;
}

p a:hover {
	text-decoration: underline;
	color: #ccc;
}

/******** Layout and Styling ********/
body {
	background-color: #333;
}

#container {
	width: 666px;
	margin: 0 auto;
}

/* HEADER */

#header {
	padding: 30px 0;
}


/* CONTENT */

#content {
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
}

.form-row {
	margin: 1.5em 0;
}

.form-row .label-col {
	float: left;
	position: absolute;
	width: 150px;
	margin-top: 0.2em;
}

.form-row .input-col {
	margin-left: 175px;
}

.form-row label {
	width: 10em;
	float: left;
	text-align: right;
}

input, textarea, select {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px;
	font-size: 14px;
}

#id_long_url {
	width: 34em;
}

#id_alias {
	width: 6em;
}

.button {
    background: #eee;
    background: -moz-linear-gradient(#fff, #ccc);
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
    border: 1px solid #aaa;
    color: #333333;
    cursor: pointer;
    display: block;
    font-weight:normal;
    font-size: 16px;
    line-height: 18px;
    overflow: hidden;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none !important;
    text-shadow: 1px 1px #fff;
    width: auto;
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.button:hover {
    background: #ddd;
    background: -moz-linear-gradient(#eee, #bbb);
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#bbb));
    cursor: hand;
    text-decoration: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#result span {
	color: #0c6;
}

.errorlist li {
	color: #D33682;
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 1em;
}

/* FOOTER */
#footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 15px;
	clear: both;
	text-align: right;
}
