{% extends 'base.html' %}
{% block content %}
<form action="/" method="POST">
	<div class="form-row">
		<div class="label-col">
	  	{{ form.long_url.label_tag }}
		</div>
		<div class="input-col">
			{{ form.long_url }}
			{{ form.long_url.errors }}
		</div>
	</div>
	
	<div class="form-row">
		<div class="label-col">
			{{ form.alias.label_tag }}
		</div>
		<div class="input-col">
			{{ form.alias }} <small>[Optional]</small>
			{{ form.alias.errors }}
		</div>
	<p>
		
	<div class="form-row">
		<div class="input-col">
  		<input type="submit" value="Make smlr" id="make_smlr" />
		</div>
	</div>

  <div id="result">
  {% if url %}
    <p>Your smlr URL is <a href="{{ url.get_short_url }}">{{ url.get_short_url }}</a></p>
	<p>Tip: Go to <a href="{{ url.get_short_url }}+">{{ url.get_short_url }}+</a>
		to get stats on your smlr URL.</p>
  {% endif %}
  </div>
</form>
{% endblock %}
