{% extends 'base.html' %}
{% block content %}
<p>
	Smlr is a simple URL shortening service. Enter a long URL; get a short one in
	return that's useful for emails or web chat.
</p>

<form action="/" method="POST">
	<div class="form-row">
		<div class="label-col">
	  	{{ form.long_url.label_tag }}
		</div>
		<div class="input-col">
			{{ form.long_url }}
			{{ form.long_url.errors }}
		</div>
	</div>
	
	<div class="form-row">
		<div class="label-col">
			{{ form.alias.label_tag }}
		</div>
		<div class="input-col">
			{{ form.alias }}
			{{ form.alias.errors }}
	</div>
		
	<div class="form-row">
		<div class="input-col">
  			<input type="submit" class="button" value="Make It Smlr!" id="make_smlr" />
		</div>
	</div>

  <div id="result">
  {% if url %}
    <p>Your Smlr URL is <a href="{{ url.get_short_url }}">{{ url.get_short_url }}</a></p>
	<p>Tip: Go to <a href="{{ url.get_short_url }}+">{{ url.get_short_url }}+</a>
		to get stats on your Smlr URL.</p>
  {% endif %}
  </div>
</form>
{% endblock %}
